<header>
    <form action="/logout" method="post">
        <button type="submit" id="logout">Logout</button>
    </form>
</header>
<div class="container center">
    <form action="/" method="post">
        <button type="submit">Download</button>
    </form>
</div>
