<header>
    <form action="/logout" method="post">
        <button type="submit" id="logout">Logout</button>
    </form>
</header>
<div class="container center">
    <a href="https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg" download><button>Download</button></a>
</div>
