<!DOCTYPE html>
<html>
  <head>
    <title>Nice Try</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <footer>Copyright © <script>document.write(new Date().getFullYear())</script> Nice-Try. All Rights Reserved.</footer>
  </body>
</html>
